body{
    background-image: linear-gradient(to right bottom, #ffffff, #e2f5ff, #a0f3ff, #41f2f9, #12ebbc);
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color:black;
}
#container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:white;
    width: 50%;
}
.form{
    display: block;
    margin-left: auto;
    margin-right: auto;
}